
body{
	background-image: url(../images/ep_naturalwhite.png);
}
.nbar{
	/*background-color:#4aaaa5;*/
}
.nbar:hover,
.nbar:focus{
	/*background-color:#4aaaa5;*/
}
.nbar span{
	color:white;
}
nav{
	border-bottom:solid;
	border-bottom-color: #D0D0D0 !important;
}
.connectHeading{
	/*background-color:white !important;*/
}
.icon-image{
	/*float:left;
	width:95px;*/
}
.footer{
	background-color:#666666;
	border-top:solid;
	border-top-color:#2c3e50;
	border-top-width:4px;
}
.footer p{
	color:white;
	text-align:center;
	margin-top:15px;
	font-size:12px;
}
.panelHeader1{
	font-size:28px;
	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	color:black;
}
.panelHeader2{
	font-size:28px;
	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	color:white;
}
.panelHeaderDiv{
	background-color: white !important;
	border-bottom-color:#DFDFDF !important;
}
.wholePanel{
	border:none;
}
.portfolio-text{
	position:relative;
	background-color:#2c3e50; 
	color:white;
	text-align: center;
	padding-top:12px;
	bottom:70px;
	height:50px;
}
.portfolio-img-container{
	width:350px;
}
.portfolio-img{
	width:350px;
	height:200px;
	transition: 1s ease;
}
.portfolio-img:hover{
	opacity:0.7;
}
